$background: #dfe9f5;
$card-background: #fff;
$input-background-color:#e4e4e4;
$input-background-focus:#c0c0c0;
$text-color-white: #fff;
$text-color-gray:636363;
$button-color: #15769c;
$button-color-hover: #0f5c7a;
$a-color:#0f5c7a;